<template>
  <view v-if="show">
    <button
      openType='getUserInfo'
      @getuserinfo="onGetUserInfo"
      lang='zh_CN'
      class="auth-button"
    ></button>
  </view>
</template>
<script>
import { Network } from '../../common/network'
import { User } from '../../models/user'

export const AuthSuccessEvent = 'AuthSuccessEvent'
export default {
  name: 'AuthButton',
  props: {
    show: {
      type: Boolean,
      default: true,
    },
  },
  data() {
    return {
      user: {},
    }
  },
  created() {
    this.user = User.currentUser
    uni.$on(AuthSuccessEvent, this.updateProfile)
  },
  destroyed() {
    uni.$off(AuthSuccessEvent, this.updateProfile)
  },
  methods: {
    updateProfile() {
      Network.userProfile({})
        .then((res) => {
          if (res.data.code == 200) {
            let user = new User()
            user.parseJson(res.data.data)
            User.currentUser = user
            // Taro.eventCenter.trigger(AuthSuccessEvent)
            this.user = user
          }
        })
        .catch((err) => {
          console.log(err)
        })
    },
    onGetUserInfo(e) {
      console.log(this.user)
      if (this.user && this.user.profile && this.user.profile.id) return
      console.log(e)
      if (e.detail.errMsg.includes('fail')) {
        console.log('拒绝授权')
        return
      }

      uni.showLoading({
        title: '登录中...',
        mask: true,
      })
      Network.authorize({
        iv: e.detail.iv,
        encryptedData: e.detail.encryptedData,
      })
        .then((res) => {
          uni.hideLoading()
          if (res.data.code == 200) {
            uni.showToast({
              title: '登录成功',
              icon: 'success',
              duration: 2000,
            })
            uni.$emit(AuthSuccessEvent)
          }
        })
        .catch((err) => {
          uni.hideLoading()
          console.log(err)
        })
    },
  },
}
</script>
<style lang="scss" scoped>
.auth-button {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: transparent;
  top: 0;
  left: 0;
  z-index: 666;
  &__button {
    display: inherit;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: inherit;
    text-align: inherit;
    text-decoration: none;
    line-height: inherit;
    border-radius: none;
    -webkit-tap-highlight-color: transparent;
    overflow: hidden;
    color: inherit;
    background-color: transparent;
    width: 100%;
    height: 100%;
  }
}
</style>