<template>
  <view>
    <!-- 弹出框 -->
    <modal
      :show="show"
      custom
      class="wrap"
      padding="40rpx 30rpx"
    >
      <view class="telphone-modal">
        <view class="header">
          <view>恭喜获得新优惠</view>
          <image
            src="/static/images/common/closex.png"
            class="close-icon"
            @tap="closeModal"
          ></image>
        </view>
        <view v-for="item in list">
          <view class="tips">
            {{ item.coupon ? (item.coupon.remind||'') :'' }}
          </view>
          <view class="coupon-image">
            <image
              mode="aspectFit"
              v-if="item.coupon&&item.coupon.face"
              style="height:200rpx"
              :src="item.coupon.face.url"
            ></image>
          </view>
        </view>
        <view class="footer">
          <button
            type="primary"
            @tap="closeModal"
          >
            收下啦
          </button>
        </view>
      </view>
    </modal>
  </view>
</template>
<script>
import { Network } from '../../common/network'

export const AuthSuccessEvent = 'AuthSuccessEvent'
export default {
  name: 'Coupon',
  props: {
    // show: {
    //   type: Boolean,
    //   default: true,
    // },
  },
  data() {
    return {
      show: false,
      list: [],
    }
  },
  mounted() {
    this.couponUpdated()
    uni.$on('coupon-updated', this.couponUpdated)
  },
  methods: {
    async couponUpdated() {
      // 查询是否有新优惠券
      // 如果有，则展示出来
      // 在主页面中加载一次，之后只需要广播这个事件即可
      const { data } = await Network.getUnreadCoupon()
      if (data.code === 200) {
        this.list = data.data
        if (data.data.length > 0) {
          this.show = true
        } else {
          this.show = false
        }
      }
    },
    closeModal() {
      this.show = false
    },
  },
}
</script>
<style lang="scss" scoped>
.auth-button {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: transparent;
  top: 0;
  left: 0;
  z-index: 666;
  &__button {
    display: inherit;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: inherit;
    text-align: inherit;
    text-decoration: none;
    line-height: inherit;
    border-radius: none;
    -webkit-tap-highlight-color: transparent;
    overflow: hidden;
    color: inherit;
    background-color: transparent;
    width: 100%;
    height: 100%;
  }
}

.telphone-modal {
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: $font-size-extra-lg;
    font-weight: bold;
    margin-bottom: 30rpx;

    .close-icon {
      width: 60rpx;
      height: 60rpx;
      position: absolute;
      right: 0;
    }
  }

  .tips {
    color: $text-color-grey;
    line-height: 1.2rem;
    margin-top: 20rpx;
    margin-bottom: 20rpx;
  }

  .telphone-form {
    font-size: $font-size-base;

    .telphone-input {
      width: 100%;
      display: flex;
      align-items: center;

      .prefix {
        color: $color-primary;
        display: flex;
        align-items: center;
        padding-right: 20rpx;
        position: relative;
        margin-right: 10rpx;

        &::after {
          content: ' ';
          position: absolute;
          width: 4rpx;
          background-color: $border-color;
        }
      }

      input {
        flex: 1;
      }
    }

    .verfiycode-input {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .countdown {
        font-size: $font-size-base;
      }
    }
  }

  .footer {
    margin-top: 30rpx;
    button {
      font-size: $font-size-lg;
    }
  }
}
// .wrap {
// }
.coupon-image {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
</style>