<script>
import { Network } from './common/network'
export default {
  onLaunch: function () {
		Network.login().then(()=>{
			console.log('登录成功')
		})
  },
  onShow: function () {},
  onHide: function () {},
}
</script>

<style lang="scss">
@import '~@/static/styles/app.scss';
</style>
