<template>
  <view class="container">
    <!-- 如果是取餐 则显示联系电话和取餐时间  如果是外卖 则显示收货地址 -->
    <view
      v-if="orderType==='takein'"
      class="bg-white p-30 d-flex align-items-center justify-content-between mb-20"
    >
      <view class="phone-c">
        <text class="mr-20">联系电话</text>
        <input
          type="number"
          v-model="phone"
          placeholder="请输入手机号码"
        />
      </view>
      <button
        type="primary"
        plain
        class="font-size-sm line-height-1"
        open-type="getPhoneNumber"
        @getphonenumber="phoneNumber"
      >自动填写</button>
    </view>
    <view
      v-if="orderType==='takein'"
      class="bg-white p-30 mb-20"
    >
      <picker
        @change="selectMealTime"
        :value="defaultMealTime"
        :start="pick_up_start_at"
        :end="pick_up_end_at"
        mode="time"
      >
        <view class="mb-30 meal-time">
          <view class="font-size-medium font-weight-bold">取餐时间</view>
          <view> {{ mealTime || '请点击选择' }} </view>
        </view>
        <view class="text-color-primary">冰淇淋/鲜食等产品无需等待，可立即向店员领取</view>
      </picker>
    </view>
    <view
      v-if="orderType==='takeout'"
      @tap="jumpToAddress"
      class="addr-wrap"
    >
      <view class="addr-wrap-line1">
        <view class="addr-wrap-line1-text"> {{ address.name }}( {{ address.gender===1 ? '先生' :'女士' }} ) </view>
        <view class="addr-wrap-line1-t"> {{ address.phone }} ></view>
      </view>
      <view class="addr-wrap-line2">{{ address.address_text + address.address_detail }}</view>
    </view>
    <view class="bg-white pt-30 mb-20">
      <view class="font-size-medium font-weight-bold mb-30 pl-30">商品列表</view>
      <list-cell
        arrow
        line-right
      >
        <view class="w-100 d-flex align-items-center overflow-hidden">
          <scroll-view
            class="flex-fill overflow-hidden"
            scroll-x
          >
            <view class="w-100 d-flex align-items-center">
              <image
                :src="item.image"
                class="pro-img"
                v-for="(item, index) in cart"
                :key="index"
              ></image>
            </view>
          </scroll-view>
          <view class="flex-shrink-0 ml-20">共{{ cartNum }}件</view>
        </view>
      </list-cell>
      <list-cell
        arrow
        last
      >
        <view class="w-100 d-flex align-items-center justify-content-between">
          <view class="d-flex align-items-center">
            <view>奉茶券</view>
            <view class="coupon-label">劵</view>
          </view>
          <view
            @tap="jumpToCoupon"
            class="text-color-assist"
          > {{  getCouponText }} </view>
        </view>
      </list-cell>
      <list-cell
        arrow
        last
      >
        <view
          @tap.stop="jumpToRemark"
          class="w-100 d-flex align-items-center justify-content-between overflow-hidden"
        >
          <view class="flex-shrink-0">备注</view>
          <navigator
            hover-class="none"
            class="flex-fill ml-40 text-truncate text-right"
            open-type="navigate"
            url="/pages/pay/remark"
          >{{ remark }}</navigator>
        </view>
      </list-cell>
      <list-cell last>
        <view class="w-100 d-flex justify-content-end align-items-center">
          <text class="font-size-sm">共{{ cartNum }}件商品，小计</text>
          <text class="font-size-lg font-weight-bold">￥{{ cartAmount }}</text>
        </view>
      </list-cell>
    </view>

    <view class="pay-type">支付方式</view>
    <list-cell class="pay-type-item">
      <!-- <view class="w-100 d-flex align-items-center justify-content-between">
        <view class="d-flex align-items-center">
          <image
            src="/static/images/order/weixin-pay.png"
            class="wx-pay-icon"
          ></image>
          <view>微信</view>
        </view>
      </view> -->
      <view
        @click="changePayType(0)"
        class="w-100 d-flex align-items-center justify-content-between"
      >
        <view class="d-flex align-items-center">
          <image
            src="/static/images/order/weixin-pay.png"
            class="wx-pay-icon"
          ></image>
          <view>微信</view>
        </view>
        <view v-if="payType===0">
          <image
            style="width:15px;height:15px"
            src="https://a.techub.fun/FihtiX2ULC9yJ0Z9dRfHkmfv7xiB"
            class="wx-pay-icon"
          ></image>
        </view>
      </view>
    </list-cell>
    <list-cell class="pay-type-item">
      <view
        @click="changePayType(1)"
        class="w-100 d-flex align-items-center justify-content-between"
      >
        <view class="d-flex align-items-center">
          <!-- <image
            src="https://a.techub.fun/FvK75_8eW_aPn7haHeVWDTPGsf1y"
            class="wx-pay-icon"
          ></image> -->
          <image
            src="https://a.techub.fun/FhYsXneg0TkCsxTY0gwwE45yWxvz"
            class="wx-pay-icon"
          ></image>
          <view>线下支付</view>
        </view>
        <view v-if="payType===1">
          <image
            style="width:15px;height:15px"
            src="https://a.techub.fun/FihtiX2ULC9yJ0Z9dRfHkmfv7xiB"
            class="wx-pay-icon"
          ></image>
        </view>
      </view>
    </list-cell>
    <list-cell class="pay-type-item">
      <view
        @click="changePayType(2)"
        class="w-100 d-flex align-items-center justify-content-between"
      >
        <view class="d-flex align-items-center">
          <image
            src="https://a.techub.fun/Fp6pqAUXm7x8o5P8k9L_CLmRwwZ9"
            class="wx-pay-icon"
          ></image>
          <view>钱包支付</view>
        </view>
        <view v-if="payType===2">
          <image
            style="width:15px;height:15px"
            src="https://a.techub.fun/FihtiX2ULC9yJ0Z9dRfHkmfv7xiB"
            class="wx-pay-icon"
          ></image>
        </view>
      </view>
    </list-cell>
    <view class="footer">
      <view class="mr-30">
        合计：<text class="font-size-lg font-weight-bold">￥{{ cartAmount }}</text>
      </view>
      <button
        @click="onSubmit"
        type="primary"
      >支付</button>
    </view>
  </view>
</template>

<script>
import listCell from '@/components/list-cell/list-cell.vue'
import { Network } from '../../common/network'
import { popSubscribeMessage } from '../../common/util'

export default {
  components: {
    listCell,
  },
  data() {
    let d = new Date()
    let h = d.getHours()
    let m = d.getMinutes()
    // console.log(uni.getStorageSync('cart'))
    if (h < 10) {
      h = '0' + h
    }
    if (m < 10) {
      m = '0' + m
    }

    let v = h + ':' + m
    return {
      payType: 0,
      interval: null,
      checkTime: 10,
      cart: uni.getStorageSync('cart'),
      phone: uni.getStorageSync('phone'),
      mealTime: '',
      defaultMealTime: v,
      enable_coupon_list: [], // 可用的优惠券id列表
      coupon: {},
      pick_up_start_at: '',
      pick_up_end_at: '',
    }
  },
  computed: {
    getCouponText() {
      let text =
        this.enable_coupon_list.length === 0
          ? '暂无可用'
          : this.enable_coupon_list.length + '张可用'
      if (this.coupon && this.coupon.id) {
        text = this.coupon.name
      }
      return text
    },
    cartNum() {
      return this.cart.reduce((acc, cur) => acc + cur.number, 0)
    },
    cartAmount() {
      let specialCateId = 5
      let specialReducePrice = 2
      let specialNumber = 0
      let specialCount = 2
      let amount = this.cart.reduce((acc, cur) => {
        // 每个 雪媚娘分类 下的商品，当超过2个之后，都会减去2块钱
        let p = acc + cur.number * cur.price
        if (cur.cate_id_list.indexOf(specialCateId) > -1) {
          // p = p - specialReducePrice * cur.number
          specialNumber += cur.number
        }
        return p
      }, 0)

      if (specialNumber >= specialCount) {
        amount -= specialNumber * specialReducePrice
      }

      if (this.coupon && this.coupon.id) {
        if (this.coupon.type === 0 && this.coupon.price > 0) {
          amount -= this.coupon.price
          if (amount <= 0) {
            amount = 0.01
          }
        }
      }
      return amount.toFixed(2)
    },
    remark() {
      return this.$store.state.remark
    },
    orderType() {
      return this.$store.state.orderType
    },
    address() {
      return this.$store.state.address
    },
  },
  async onShow() {
    if (this.enable_coupon_list.length === 0) {
      let commodities = []
      let _this = this
      for (let i = 0; i < _this.cart.length; i++) {
        commodities.push({
          commodity_id: _this.cart[i].id,
          number: _this.cart[i].number,
          values: _this.cart[i].material_values,
          materials_text: _this.cart[i].materials_text,
        })
      }

      console.log(commodities)
      const { data } = await Network.getEnableCouponList({ commodities })
      if (data.code === 200) {
        this.enable_coupon_list = data.data
      }
    }
  },
  async onLoad() {
    uni.$on('order-choose-coupon', (item) => {
      this.coupon = item
    })
    const { data } = await Network.getPickUpRangeTime()
    if (data.code === 200) {
      this.pick_up_start_at = data.data.start
      this.pick_up_end_at = data.data.end
    }
  },
  methods: {
    jumpToRemark() {
      uni.navigateTo({
        url: '/pages/pay/remark',
      })
    },
    changePayType(type) {
      this.payType = type
    },
    selectMealTime(e) {
      // 选择取餐时间
      this.mealTime = e.detail.value
    },
    jumpToAddress() {
      uni.navigateTo({
        url: '/pages/addresses/addresses?originType=pay',
      })
    },
    async checkOrderStatus(orderId) {
      // 检查order支付状态
      uni.showLoading({
        title: '查询支付结果',
      })
      this.checkTime = 10 // 10次
      // 每隔1.5s设置数据
      this.interval = setInterval(async () => {
        if (this.checkTime <= 0) {
          uni.hideLoading()
          uni.showToast({
            title: '查询超时,请询问店长',
            icon: 'none',
          })
          setTimeout(() => {
            uni.switchTab({
              url: '/pages/order/order',
            })
          }, 1500)
          this.interval && clearInterval(this.interval)
        }
        this.checkTime -= 1
        const { data } = await Network.checkOrderStatus({ order_id: orderId })
        if (data.code === 200) {
          if (data.data.status === 1) {
            // 支付成功
            uni.hideLoading()
            this.interval && clearInterval(this.interval)
            uni.showToast({
              title: '支付成功',
              duration: 1500,
            })
            setTimeout(() => {
              uni.switchTab({
                url: '/pages/order/order',
              })
              // 清空购物车
              uni.setStorageSync('cart', [])
              uni.$emit('cart_change', [])
            }, 1500)
          }
        } else {
          this.interval && clearInterval(this.interval)
          uni.showToast({
            title: '支付失败',
            icon: 'none',
          })
        }
      }, 1500)
    },
    async onSubmit() {
      // 这里首先从后端获取配置，调起微信支付
      // 支付成功后回调直接生成订单
      // 没有配置微信支付，则先直接生成订单
      if (!this.phone) {
        uni.showToast({
          title: '请输入手机号',
          icon: 'none',
          duration: 2000,
        })
        return
      }
      if (!this.mealTime) {
        uni.showToast({
          title: '请选择取餐时间',
          icon: 'none',
          duration: 2000,
        })
        return
      }
      let _this = this
      popSubscribeMessage([2, 3, 4]).then(() => {
        let commodities = []

        for (let i = 0; i < _this.cart.length; i++) {
          commodities.push({
            commodity_id: _this.cart[i].id,
            number: _this.cart[i].number,
            values: _this.cart[i].material_values,
            materials_text: _this.cart[i].materials_text,
          })
        }

        console.log(commodities)

        // 点击确定
        Network.createOrder({
          order_type: _this.$store.state.orderType === 'takein' ? 0 : 1,
          phone: _this.phone,
          pick_up_at: _this.mealTime,
          comment: _this.remark,
          price: _this.cartAmount,
          commodities: commodities,
          pay_type: _this.payType,
          coupon_id: _this.coupon && _this.coupon.id ? _this.coupon.id : 0,
        }).then(({ data }) => {
          if (data.code === 200) {
            if (_this.payType === 1 || _this.payType === 2) {
              // 直接弹出已生成订单，请前往线下支付
              uni.showToast({
                title: '已下单',
                duration: 2000,
              })
              // 清空购物车
              uni.setStorageSync('cart', [])
              uni.$emit('cart_change', [])
              setTimeout(() => {
                uni.switchTab({
                  url: '/pages/order/order',
                })
              }, 1500)
            } else {
              uni.requestPayment(data.data).then((r) => {
                // 轮询查订单状态，直到收到后设置为查询成功
                let rr = null
                if (r && r.length && r.length > 0) {
                  r.forEach((item) => {
                    if (item) {
                      rr = item
                    }
                  })
                  if (rr && rr.errMsg.indexOf('fail') >= 0) {
                    uni.showToast({
                      title: '您已取消支付',
                      icon: 'none',
                      duration: 2000,
                    })
                    return // 取消支付
                  } else {
                    _this.checkOrderStatus(data.data.order_id)
                  }
                } else {
                  _this.checkOrderStatus(data.data.order_id)
                }
              })
            }
          } else {
            uni.showToast({
              title: data.message || '提交订单失败',
              icon: 'none',
              duration: 2000,
            })
          }
        })

        // uni.showModal({
        //   title: '确认提交订单？',
        //   success: function (v) {
        //     console.log(v)
        //     // let _this = this
        //     if (v.confirm) {
        //       let commodities = []

        //       for (let i = 0; i < _this.cart.length; i++) {
        //         commodities.push({
        //           commodity_id: _this.cart[i].id,
        //           number: _this.cart[i].number,
        //           values: _this.cart[i].material_values,
        //           materials_text: _this.cart[i].materials_text,
        //         })
        //       }

        //       console.log(commodities)

        //       // 点击确定
        //       Network.createOrder({
        //         order_type: _this.$store.state.orderType === 'takein' ? 0 : 1,
        //         phone: _this.phone,
        //         pick_up_at: _this.mealTime,
        //         comment: _this.remark,
        //         price: _this.cartAmount,
        //         commodities: commodities,
        //       }).then(({ data }) => {
        //         if (data.code === 200) {
        //           uni.requestPayment(data.data).then((r) => {
        //             // 轮询查订单状态，直到收到后设置为查询成功
        //             // console.log('支付结果', r)
        //             _this.checkOrderStatus(data.data.order_id)
        //           })
        //         } else {
        //         }
        //       })
        //     }
        //     if (v.cancel) {
        //       // 点击取消
        //       uni.showToast({
        //         title: '取消了支付',
        //       })
        //     }
        //   },
        // })
      })
    },
    jumpToCoupon() {
      // 跳转到优惠券列表
      uni.navigateTo({
        url: '/pages/coupon/coupon?idList=' + this.enable_coupon_list.join(','),
      })
    },
    async phoneNumber(e) {
      console.log(e)
      const r = await Network.decryptedPhone({
        iv: e.detail.iv,
        encryptedData: e.detail.encryptedData,
      })
      console.log(r)
      const { data } = r

      if (data.code === 200) {
        this.phone = data.data.phoneNumber
        uni.setStorageSync('phone', data.data.phoneNumber)
      } else {
        uni.showToast({
          title: '无法获取手机号，请手动输入',
          icon: 'none',
          duration: 2000,
        })
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.container {
  height: auto;
  padding-bottom: 120rpx;
}

.pro-img {
  width: 120rpx;
  height: 90rpx;
  flex-shrink: 0;
}

.coupon-label {
  background-color: $color-primary;
  color: #ffffff;
  font-size: 18rpx;
  line-height: 0.9rem;
  width: 0.9rem;
  height: 0.9rem;
  margin-left: 10rpx;
  text-align: center;
}

.wx-pay-icon {
  width: 40rpx;
  height: 40rpx;
  margin-right: 10rpx;
}

.footer {
  background-color: #ffffff;
  z-index: 10;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100rpx;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  button {
    width: 250rpx;
    text-align: center;
    padding: 0;
    height: 100%;
    line-height: 100rpx;
    border-radius: 0 !important;
    font-size: $font-size-lg;
  }
}

.phone-c {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.addr-wrap {
  margin-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  &-line1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
    &-text {
      margin-top: 5px;
      font-size: 28rpx;
      font-weight: bold;
    }
    &-t {
      margin-top: 5px;
      font-size: 28rpx;
      color: #999999;
    }
  }
  &-line2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 28rpx;
    color: #999999;
  }
}
.meal-time {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.pay-type {
  margin-top: 20px;
  margin-bottom: 5px;
  color: #999999;
  margin-left: 10px;
}
.pay-type-item {
  height: 45rpx;
}
</style>
