<template>
  <view class="container">
    <view class="address-form">
      <list-cell padding="30rpx">
        <view class="form-item">
          <view class="label">联系人</view>
          <input
            type="text"
            v-model="form.name"
            placeholder="请填写收货人的姓名"
            placeholder-class="placeholder"
          />
        </view>
      </list-cell>
      <list-cell padding="30rpx">
        <view class="form-item">
          <view class="label">性别</view>
          <view
            class="radio"
            @tap="form.gender = !form.gender"
          >
            <image :src="form.gender ? '/static/images/common/gouxuankuang.png' : '/static/images/common/round-black-selected.png'"></image>
            <view>先生</view>
          </view>
          <view
            class="radio"
            @tap="form.gender = !form.gender"
          >
            <image :src="!form.gender ? '/static/images/common/gouxuankuang.png' : '/static/images/common/round-black-selected.png'"></image>
            <view>女士</view>
          </view>
        </view>
      </list-cell>
      <list-cell padding="30rpx">
        <view class="form-item">
          <view class="label">手机号</view>
          <input
            type="text"
            v-model="form.phone"
            placeholder="请填写收货手机号码"
            placeholder-class="placeholder"
          />
        </view>
      </list-cell>
      <list-cell padding="30rpx">
        <view class="form-item">
          <view class="label">收货地址</view>
          <input
            type="text"
            @tap="chooseLocation"
            v-model="form.address_text"
            placeholder="点击选择"
            placeholder-class="placeholder"
          />
          <image
            src="/static/images/common/icon_jump_black3.png"
            class="jump-icon"
          ></image>
        </view>
      </list-cell>
      <list-cell padding="30rpx">
        <view class="form-item">
          <view class="label">详细地址</view>
          <input
            type="text"
            v-model="form.address_detail"
            placeholder="例:B座6楼606室"
            placeholder-class="placeholder"
          />
        </view>
      </list-cell>

      <list-cell
        padding="30rpx"
        last
      >
        <view class="form-item">
          <view
            class="radio"
            @tap="form.is_selected = !form.is_selected"
          >
            <image :src="!form.is_selected ? '/static/images/common/gouxuankuang.png' : '/static/images/common/round-black-selected.png'"></image>
            <view>设为默认地址</view>
          </view>
        </view>
      </list-cell>
    </view>

    <view class="save-btn">
      <button
        @click="onSubmit"
        type="info"
      >保存</button>
    </view>
  </view>
</template>

<script>
import listCell from '@/components/list-cell/list-cell.vue'
import { Network } from '../../common/network'

export default {
  components: {
    listCell,
  },
  data() {
    return {
      form: {
        address_id: 0,
        name: '',
        gender: 0,
        phone: '',
        address_detail: '',
        is_selected: 0,
        complete_address: '',
        address_text: '',
        lat: '',
        lng: '',
      },
    }
  },
  onLoad({ id }) {
    if (id) {
      // this.form = this.$store.state.addresses.find((item) => item.id == id)
      // 获取id对应的数据
      this.initForm(id)
    }
  },
  methods: {
    async initForm(id) {
      this.address_id = id
      const { data } = await Network.getUserAddressDetail({ address_id: id })
      if (data.code === 200) {
        this.form = data.data
      }
    },
    async onSubmit() {
      if (!this.form.name) {
        uni.showToast({
          title: '请输入姓名',
          duration: 2000,
          icon: 'none',
        })
        return
      }
      if (!this.form.phone || this.form.phone.length !== 11) {
        uni.showToast({
          title: '请输入正确手机号',
          duration: 2000,
          icon: 'none',
        })
        return
      }
      if (!this.form.address_text) {
        uni.showToast({
          title: '请选择收货地址',
          duration: 2000,
          icon: 'none',
        })
        return
      }
      if (!this.form.address_detail) {
        uni.showToast({
          title: '请输入详细地址',
          duration: 2000,
          icon: 'none',
        })
        return
      }

      let d = {}
      if (this.form.address_id > 0) {
        d = await Network.createUserAddress(this.form)
      } else {
        d = await Network.createUserAddress(this.form)
      }
      let data = d.data
      if (data.code === 200) {
        uni.navigateBack()
      } else {
        uni.showToast({
          title: '保存失败',
          duration: 2000,
          icon: 'none',
        })
      }
    },
    chooseLocation() {
      uni.chooseLocation({
        success: (res) => {
          const { errMsg, address, latitude, longitude, name } = res
          if (errMsg === 'chooseLocation:ok') {
            this.form = Object.assign(this.form, {
              // address_detail: address,
              complete_address: address,
              lat: latitude,
              lng: longitude,
              address_text: name,
            })
          } else {
          }
        },
      })
    },
  },
}
</script>

<style lang="scss" scoped>
.address-form {
  margin-top: 20rpx;

  .form-item {
    width: 100%;
    display: flex;
    align-items: center;

    .label {
      width: 160rpx;
    }

    input {
      flex: 1;
    }

    .jump-icon {
      width: 30rpx;
      height: 48rpx;
    }

    .radio {
      display: flex;
      margin-right: 50rpx;
      image {
        width: 40rpx;
        height: 40rpx;
        margin-right: 20rpx;
      }
    }
  }
}

.save-btn {
  padding: 0 30rpx;
  margin-top: 60rpx;

  button {
    width: 100%;
    font-size: $font-size-extra-lg;
  }
}
</style>
