<template>
  <view class="container">
    <view class="content">
      <list-cell
        v-for="(item, index) in list"
        :key="index"
        :line-left="false"
        @tap="choose(item)"
      >

        <view class="address">
          <view class="info">
            <view class="user-row">
              {{ item.coupon.name }}
            </view>
            <view
              v-if="item.coupon.description"
              class="address-row"
            >
              <view
                v-if="item.is_valid===0"
                class="is-default"
              > 已失效 </view>
              <view class="address">{{ item.coupon.description }}</view>
            </view>
          </view>
        </view>
        <image
          mode="aspectFit"
          :src="item.coupon.face.url"
          style="height:120rpx"
        ></image>
      </list-cell>
    </view>
  </view>
</template>

<script>
import listCell from '@/components/list-cell/list-cell.vue'
import { mapState, mapMutations } from 'vuex'
import { Network } from '../../common/network'

export default {
  components: {
    listCell,
  },
  data() {
    return {
      tmpCoupon: {},
      show: false,
      idList: [],
      list: [],
      addresses: [],
      originType: '',
    }
  },
  computed: {
    // ...mapState(['addresses'])
  },
  created() {
    // this.fetchData()
  },
  methods: {
    ...mapMutations(['SET_ADDRESS', 'SET_ORDER_TYPE']),
    closeModal() {
      this.show = false
    },
    async fetchData() {
      const { data } = await Network.getUserAddressList({ page: 1 })
      if (data.code === 200) {
        this.addresses = data.data.data
      }
    },
    async onLoad({ idList = '1,2', originType = '' }) {
      if (idList) {
        this.idList = idList.split(',')
        this.idList.forEach((item, index) => {
          this.idList[index] = parseInt(item)
        })
      }

      this.originType = originType

      const { data } = await Network.getCouponList({ id_list: idList })
      if (data.code === 200) {
        this.list = data.data
      }
    },
    onShow() {
      // this.fetchData()
    },
    add() {
      uni.navigateTo({
        url: '/pages/addresses/add',
      })
    },
    edit(id) {
      uni.navigateTo({
        url: '/pages/addresses/add?id=' + id,
      })
    },
    choose(item) {
      if (this.originType === 'my') {
        // 弹出优惠券的详情页
        uni.navigateTo({
          url: '/pages/integrals/detail?id=' + item.id,
        })
        return
      }
      // 如果在idList中，则广播事件并跳转
      if (this.idList.indexOf(item.coupon.id) > -1) {
        uni.$emit('order-choose-coupon', item.coupon)
        uni.navigateBack()
      } else {
        // 如果不在，则弹出提示
        uni.showToast({
          title: '暂时无法使用哦',
          icon: 'none',
          duration: 2000,
        })
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.content {
  height: auto;
  margin-top: 20rpx;
  padding-bottom: 170rpx;
}

.address {
  width: 100%;
  display: flex;
  align-items: center;

  .info {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 20rpx;
    overflow: hidden;

    .user-row {
      font-size: $font-size-lg;
      font-weight: 500;
      margin-bottom: 10rpx;
    }

    .address-row {
      display: flex;
      align-items: center;

      .is-default {
        background-color: #faf5ef;
        font-size: 16rpx;
        color: $color-primary;
        padding: 4rpx;
        flex-shrink: 0;
        margin-right: 6rpx;
      }

      .address {
        font-size: $font-size-base;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }

  .edit-btn {
    width: 45rpx;
    height: 70rpx;
    margin-right: 20rpx;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
  background-color: $bg-color;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150rpx;
  padding: 0 30rpx;

  button {
    width: 100%;
    font-size: $font-size-extra-lg;
  }
}
</style>
