<template>
  <view class="container">
    <list-cell
      v-for="item in list"
      lineLeft
      class="w-100 d-flex align-items-center justify-content-between"
      size="32"
    >
      <view
        @click.stop="jumpToRecharge"
        class="w-100 d-flex align-items-center justify-content-between overflow-hidden"
      >
        <view class="flex-shrink-0">{{ item.message }}</view>
        <view> {{ item.amount_message }} </view>
      </view>
    </list-cell>
  </view>
</template>

<script>
import listCell from '@/components/list-cell/list-cell.vue'
import { Network } from '../../common/network'

export default {
  components: {
    listCell,
  },
  data() {
    return {
      list: [],
      currentPage: 0,
      amount: 0,
    }
  },

  onShow() {
    this.fetchData()
  },
  methods: {
    async fetchData() {
      this.getList(1)
    },
    async getList(page) {
      const { data } = await Network.getUserWalletRecords({ page })
      if (data.code === 200) {
        this.list = data.data.data
      } else {
        uni.showToast({
          title: '获取消费记录失败',
          icon: 'none',
          duration: 2000,
        })
      }
    },
    jumpToRecords() {},
    jumpToRecharge() {
      uni.navigateTo({
        url: '/pages/my/wallet-recharge',
      })
    },
  },
}
</script>

<style lang="scss" scoped>
page {
  background-color: $bg-color-white;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wallet-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  &-image {
    // width: 630rpx;
    width: 90vw;
    height: 56vw;
  }
}
.wallet-remind {
  color: #000000;
  font-size: 33rpx;
  font-weight: bold;
  margin-top: 20rpx;
}
.wallet-balance {
  display: flex;
  flex-direction: row;
  // align-items: flex-start;
  align-items: center;
  // justify-content: center;
  margin-top: 20rpx;
  &-tip {
    font-size: 40rpx;
  }
  &-value {
    font-size: 65rpx;
  }
}
.cell-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30rpx;
  &-item {
    width: 100%;
  }
}
</style>
