<template>
  <view class="container">
    <view class="wallet-card">
      <image
        class="wallet-card-image"
        src="https://a.techub.fun/FpBuaccABdQ8KPpL5z12B1buhhlo"
      />
    </view>
    <view class="wallet-remind">可用余额</view>
    <view class="wallet-balance">
      <view class="wallet-balance-tip">￥</view>
      <view class="wallet-balance-value">{{ amount }}</view>
    </view>
    <list-cell
      arrow
      lineLeft
      class="w-100 d-flex align-items-center justify-content-between"
      size="32"
    >
      <view
        @click.stop="jumpToRecharge"
        class="w-100 d-flex align-items-center justify-content-between overflow-hidden"
      >
        <view class="flex-shrink-0">立即充值</view>
      </view>
    </list-cell>
    <list-cell
      arrow
      lineLeft
      class="w-100 d-flex align-items-center justify-content-between"
      size="32"
    >
      <view
        @click.stop="jumpToRecords"
        class="w-100 d-flex align-items-center justify-content-between overflow-hidden"
      >
        <view class="flex-shrink-0">消费记录</view>
      </view>
    </list-cell>
  </view>
</template>

<script>
import listCell from '@/components/list-cell/list-cell.vue'
import { Network } from '../../common/network'

export default {
  components: {
    listCell,
  },
  data() {
    return {
      amount: 0,
    }
  },

  onShow() {
    this.fetchData()
  },
  methods: {
    async fetchData() {
      const d = await Network.getMyCouponCount()
      if (d.data.code === 200) {
        // this.coupon_count = d.data.data.count
        // this.score_count = d.data.data.score
        this.amount = d.data.data.amount
      }
    },
    jumpToRecords() {
      uni.navigateTo({
        url: '/pages/my/wallet-records',
      })
    },
    jumpToRecharge() {
      uni.navigateTo({
        url: '/pages/my/wallet-recharge',
      })
    },
  },
}
</script>

<style lang="scss" scoped>
page {
  background-color: $bg-color-white;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wallet-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20rpx;
  &-image {
    // width: 630rpx;
    width: 90vw;
    height: 56vw;
    box-shadow: 1px 1px 15px #dddddd;
    border-radius: 40rpx; 
  }
}
.wallet-remind {
  color: #000000;
  font-size: 33rpx;
  font-weight: bold;
  margin-top: 20rpx;
}
.wallet-balance {
  display: flex;
  flex-direction: row;
  // align-items: flex-start;
  align-items: center;
  // justify-content: center;
  margin-top: 20rpx;
  &-tip {
    font-size: 40rpx;
  }
  &-value {
    font-size: 65rpx;
  }
}
.cell-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30rpx;
  &-item {
    width: 100%;
  }
}
</style>
