<template>
  <view class="container">
    <web-view :src="url"></web-view>
  </view>
</template>

<script>
import listCell from '@/components/list-cell/list-cell.vue'
import { Network } from '../../common/network'
import { popSubscribeMessage } from '../../common/util'

export default {
  components: {
    listCell,
  },
  computed: {
    currentValue() {
      let v = 0
      this.cards.forEach((item) => {
        if (item.id === this.currentCardId) {
          v = item.value
        }
      })
      return v
    },
  },
  data() {
    return {
      currentCardId: 0,
      cards: [],
      url: '',
    }
  },
  onLoad({ url }) {
    this.url = decodeURIComponent(url)
  },
  methods: {
    async checkOrderStatus(orderId) {
      // 检查order支付状态
      uni.showLoading({
        title: '查询支付结果',
      })
      this.checkTime = 10 // 10次
      // 每隔1.5s设置数据
      this.interval = setInterval(async () => {
        if (this.checkTime <= 0) {
          uni.hideLoading()
          uni.showToast({
            title: '查询超时,请询问店长',
            icon: 'none',
          })
          setTimeout(() => {
            uni.switchTab({
              url: '/pages/my/my',
            })
          }, 1500)
          this.interval && clearInterval(this.interval)
        }
        this.checkTime -= 1
        const { data } = await Network.checkOrderStatus({ order_id: orderId })
        if (data.code === 200) {
          if (data.data.status === 1) {
            // 支付成功
            uni.hideLoading()
            this.interval && clearInterval(this.interval)
            uni.showToast({
              title: '支付成功',
              duration: 1500,
            })
            setTimeout(() => {
              uni.switchTab({
                url: '/pages/my/my',
              })
            }, 1500)
          }
        } else {
          this.interval && clearInterval(this.interval)
          uni.showToast({
            title: '支付失败',
            icon: 'none',
          })
        }
      }, 1500)
    },
    async fetchData() {},
    async submit() {
      // 调起微信，获取
      let _this = this
      popSubscribeMessage([5]).then(() => {
        Network.submitRechargeInfo({ id: _this.currentCardId }).then(
          ({ data }) => {
            if (data.code === 200) {
              uni.requestPayment(data.data).then((r) => {
                // 轮询查订单状态，直到收到后设置为查询成功
                let rr = null
                if (r && r.length && r.length > 0) {
                  r.forEach((item) => {
                    if (item) {
                      rr = item
                    }
                  })
                  if (rr && rr.errMsg.indexOf('fail') >= 0) {
                    uni.showToast({
                      title: '您已取消支付',
                      icon: 'none',
                      duration: 2000,
                    })
                    return // 取消支付
                  } else {
                    _this.checkOrderStatus(data.data.order_id)
                  }
                } else {
                  _this.checkOrderStatus(data.data.order_id)
                }
              })
            } else {
              uni.showToast({
                title: '充值失败',
                icon: 'none',
                duration: 2000,
              })
            }
          }
        )
      })
    },
  },
}
</script>

<style lang="scss" scoped>
page {
  background-color: $bg-color-white;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.wallet-card {
  margin-top: 30rpx;
  width: 90vw;
  height: 56vw;
  position: relative;
  border-radius: 40rpx;
  &-image {
    border-radius: 40rpx;
    position: absolute;
    width: 90vw;
    height: 56vw;
  }
  &-text {
    font-size: 30rpx;
    font-weight: bold;
  }
  &-bottom {
    border-bottom-left-radius: 40rpx;
    border-bottom-right-radius: 40rpx;
    width: 100%;
    background-color: #ffffff;
    height: 100rpx;
    position: absolute;
    bottom: 0rpx;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 30rpx;
    padding-right: 30rpx;
  }
}
.bottom-bar {
  width: 100vw;
  height: 100rpx;
  background-color: #ffffff;
  position: absolute;
  bottom: 0rpx;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  &-text {
    font-size: 32rpx;
    font-weight: bold;
    margin-left: 40rpx;
  }
  &-btn {
    width: 200rpx;
    height: 100%;
    background-color: #d4a979;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 32rpx;
    color: #ffffff;
    font-weight: bold;
  }
}
</style>
