<template>
  <view class="container">
    <view class="navbar">
      <!-- <button
        type="default"
        plain
        class="talk-btn"
      >
        <image src="/static/images/order/order_icon_talk2.0.png"></image>
        <view>想对你说</view>
      </button> -->
    </view>
    <view class="tabbar">
      <view
        class="item"
        :class="{active: !tabIndex}"
        @tap="switchTab(0)"
      >当前订单</view>
      <view
        class="item"
        :class="{active: tabIndex}"
        @tap="switchTab(1)"
      >历史订单</view>
    </view>
    <swiper
      :current="tabIndex"
      :duration="300"
      class="swiper"
      :show-scrollbar="false"
    >
      <!-- 当前订单 begin -->
      <swiper-item @touchmove.stop="handleSwiperItemChange">
        <view
          v-if="currentOrders.length===0"
          class="no-order-content"
        >
          <image src="https://go.cdn.heytea.com/storage/ad/2020/05/20/0bdb360866d94aa4a4404c0b676a1982.jpg"></image>
          <view class="tips">
            <view>您今天还没有下单</view>
            <view>快去选择一杯喜欢的茶吧</view>
          </view>
          <button
            @click="goToIndex(0)"
            type="primary"
            class="font-size-lg"
            hover-class="none"
          >去下单</button>
        </view>
        <scroll-view
          v-if="currentOrders.length>0"
          scroll-y="true"
          class="current-wrapper"
        >
          <view
            style="padding-top:10rpx"
            class="wrapper"
          >
            <view class="order-list">
              <navigator
                class="order"
                v-for="(order, index) in currentOrders"
                :key="index"
                open-type="navigate"
                :url="'/pages/order/detail?id=' + order.id"
              >
                <view class="header">
                  <view class="flex-fill font-size-medium">{{ order.shop_name }}</view>
                  <view class="status">
                    <view>{{ order.status_message }}</view>
                    <image src="/static/images/common/black_arrow_right.png"></image>
                  </view>
                </view>
                <scroll-view scroll-x>
                  <view class="images">
                    <image
                      :src="item.image"
                      v-for="(item, index) in order.items"
                      :key="index"
                    ></image>
                  </view>
                </scroll-view>
                <view class="info">
                  <view class="left">
                    <view>订单编号：{{ order.trade_no }}</view>
                    <view>下单时间：{{ order.created_at }}</view>
                    <view>取餐号码：{{ order.meal_code }}</view>
                  </view>
                  <view class="right">
                    ￥{{ order.price }}
                  </view>
                </view>
                <view class="action">
                  <!-- <button
                          type="default"
                          hover-class="none"
                        >开发票</button> -->
                  <!-- <button
                          type="default"
                          hover-class="none"
                        >查看评论</button> -->
                  <button
                    @click.stop="goToIndex(order)"
                    type="primary"
                    plain
                    hover-class="none"
                  >再来一单</button>
                </view>
              </navigator>
            </view>
          </view>
        </scroll-view>
      </swiper-item>
      <!-- 当前订单 end -->
      <!-- 历史订单 begin -->
      <swiper-item @touchmove.stop="handleSwiperItemChange">
        <view class="history-order">
          <view class="menu">
            <!-- <view class="flex-fill d-flex justify-content-start">
              <view
                class="item"
                :class="{active: !orderMenuIndex}"
                @tap="switchMenuTab(0)"
              >门店订单</view>
              <view
                class="item"
                :class="{active: orderMenuIndex}"
                @tap="switchMenuTab(1)"
              >百货订单</view>
            </view> -->
            <!-- <view
              class="item"
              v-show="batchInvoiceVisible"
            >
              <image src="/static/images/order/batch_invoice_icon.png"></image>
              <view>批量开票</view>
            </view> -->
          </view>
          <swiper
            :current="orderMenuIndex"
            :duration="300"
            :show-scrollbar="false"
            class="history-order-swiper"
          >
            <!-- 门店订单 begin -->
            <swiper-item @touchmove.stop="handleSwiperItemChange">
              <scroll-view
                scroll-y="true"
                class="orders-scroll"
              >
                <view class="wrapper">
                  <view class="order-list">
                    <navigator
                      class="order"
                      v-for="(order, index) in orders"
                      :key="index"
                      open-type="navigate"
                      :url="'/pages/order/detail?id=' + order.id"
                    >
                      <view class="header">
                        <view class="flex-fill font-size-medium">{{ order.shop_name }}</view>
                        <view class="status">
                          <view>{{ order.status_message }}</view>
                          <image src="/static/images/common/black_arrow_right.png"></image>
                        </view>
                      </view>
                      <scroll-view scroll-x>
                        <view class="images">
                          <image
                            :src="item.image"
                            v-for="(item, index) in order.items"
                            :key="index"
                          ></image>
                        </view>
                      </scroll-view>
                      <view class="info">
                        <view class="left">
                          <view>订单编号：{{ order.trade_no }}</view>
                          <view>下单时间：{{ order.created_at }}</view>
                        </view>
                        <view class="right">
                          ￥{{ order.price }}
                        </view>
                      </view>
                      <view class="action">
                        <!-- <button
                          type="default"
                          hover-class="none"
                        >开发票</button> -->
                        <!-- <button
                          type="default"
                          hover-class="none"
                        >查看评论</button> -->
                        <button
                          @click.stop="goToIndex(order)"
                          type="primary"
                          plain
                          hover-class="none"
                        >再来一单</button>
                      </view>
                    </navigator>
                  </view>
                </view>
              </scroll-view>
            </swiper-item>
            <!-- 门店订单 end -->
            <!-- 百货订单 begin -->
            <swiper-item @touchmove.stop="handleSwiperItemChange">
              <view class="store-order-wrapper">
                <image src="/static/images/order/default_img_order.png"></image>
                <view>您还没有下单</view>
                <view>快去百货商城逛逛吧</view>
              </view>
            </swiper-item>
            <!-- 百货订单 end -->
          </swiper>
        </view>
      </swiper-item>
      <!-- 历史订单 end -->
    </swiper>
    <!-- <image src="https://go.cdn.heytea.com/storage/ad/2020/05/20/1a389117c2fb44d5bcad4a910a68246c.jpg"></image> -->
    <coupon></coupon>
  </view>
</template>

<script>
import { Network } from '../../common/network'
import Coupon from '../../components/coupon/coupon'

export default {
  components: {
    Coupon,
  },
  data() {
    return {
      tabIndex: 0,
      orderMenuIndex: 0,
      orders: [],
      storeOrders: [],
      currentOrders: [],
    }
  },
  async onLoad() {},
  computed: {
    batchInvoiceVisible() {
      return (
        (!this.orderMenuIndex && this.orders.length) ||
        (this.orderMenuIndex && this.storeOrders.length)
      )
    },
  },
  methods: {
    async switchTab(index) {
      if (this.tabIndex === index) return
      this.tabIndex = index
      if (this.tabIndex) {
        await this.getOrders()
      }
    },
    onShow() {
      // if (this.orders.length === 0) {
      this.getOrders(1)
      // }
      // if (this.currentOrders.length === 0) {
      this.getCurrentOrders(1)
      // }
    },
    handleSwiperItemChange() {
      //禁止手动滑动
      return true
    },
    async switchMenuTab(index) {
      if (this.orderMenuIndex === index) return
      this.orderMenuIndex = index
      await this.getOrders()
    },
    async goToIndex(order) {
      console.log(order)
      if (order) {
        // 拼接出购物车的数据，然后跳转到首页
        console.log(order)
        let cart = []
        order.commodities.forEach((item) => {
          console.log(item.pivot.material_value_id)
          cart.push({
            id: item.id,
            cate_id_list: item.cate_id_list.map((i, ind) => {
              return i.id
            }),
            cate_id: item.category_id,
            name: item.name,
            price: (item.pivot.price / item.pivot.number).toFixed(2),
            number: item.pivot.number || 1,
            image: item.face.url,
            is_single: item.is_single,
            materials_text: item.pivot.materials_text,
            material_values: item.pivot.material_value_id
              ? item.pivot.material_value_id.split(',')
              : [],
          })
        })
        console.log(cart)
        uni.$emit('cart_change', cart)
      }

      uni.switchTab({
        url: '/pages/index/index',
      })
    },
    async getOrders(page) {
      const { data } = await Network.getHistorytOrders(page)
      if (data.code === 200) {
        this.orders = data.data.data
      } else {
        uni.showToast({
          title: '获取历史订单失败',
          duration: 2000,
          icon: 'none',
        })
      }
    },
    async getCurrentOrders(page) {
      const { data } = await Network.getCurrentOrders({ page })
      if (data.code === 200) {
        this.currentOrders = data.data.data
      } else {
        uni.showToast({
          title: '获取当前订单失败',
          duration: 2000,
          icon: 'none',
        })
      }
    },
  },
}
</script>

<style lang="scss" scoped>
page {
  background-color: #f6f6f6;
}
.navbar {
  height: calc(44px + var(--status-bar-height));
  /* #ifdef H5 */
  height: 44px;
  /* #endif */
  display: flex;
  background-color: #ffffff;
}

.talk-btn {
  height: 32px;
  margin-left: 10px;
  margin-top: 26px;
  /* #ifdef H5 */
  margin-top: 6px;
  /* #endif */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $font-size-sm !important;
  padding: 0 20rpx;
  border-radius: 50rem !important;

  image {
    width: 40rpx;
    height: 40rpx;
    margin-right: $spacing-row-sm;
  }
}

.tabbar {
  height: 100rpx;
  background-color: $bg-color-white;
  display: flex;
  align-items: center;
  justify-content: space-around;

  .item {
    height: 100%;
    font-size: $font-size-lg;
    color: $text-color-assist;
    font-weight: 400 !important;
    display: flex;
    align-items: center;

    &.active {
      color: $text-color-base;
      border-bottom: 4rpx solid $text-color-base;
    }
  }
}

.swiper {
  width: 100%;
  height: calc(100vh - 44px - var(--status-bar-height) - 110rpx);
  /* #ifdef H5 */
  height: calc(100vh - 44px - var(--status-bar-height) - 110rpx - 100rpx);
  /* #endif */
}

.no-order-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  image {
    width: 300rpx;
    height: 300rpx;
    margin-bottom: 50rpx;
  }

  .tips {
    color: $text-color-assist;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.2rem !important;
    margin-bottom: 70rpx;
  }

  button {
    width: 50%;
  }
}

.history-order {
  width: 100%;
  height: 100%;
  position: relative;

  .menu {
    padding: 18rpx 30rpx;
    display: flex;
    align-items: center;
    font-size: $font-size-base;
    color: $text-color-grey;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;

    .item {
      padding: 14rpx 30rpx;
      display: flex;
      align-items: center;
      justify-content: center;

      image {
        width: 40rpx;
        height: 40rpx;
        margin-right: 10rpx;
      }

      &.active {
        color: $color-primary;
        background-color: $bg-color-white;
      }
    }
  }

  .history-order-swiper {
    width: 100%;
    height: 100%;
  }
}

.store-order-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: $font-size-base;
  color: $text-color-assist;
  line-height: 1.3rem !important;

  image {
    width: 400rpx;
    height: 333rpx;
    margin-bottom: 40rpx;
  }
}

.orders-scroll {
  width: 100%;
  height: 100%;
  // padding-top: 104rpx;
}

.order-list {
  display: flex;
  width: 100%;
  flex-direction: column;

  .order {
    background-color: $bg-color-white;
    padding: 30rpx 40rpx;
    margin-bottom: 18rpx;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .status {
        font-size: $font-size-base;
        color: $text-color-grey;
        display: flex;
        align-items: center;
        image {
          width: 30rpx;
          height: 30rpx;
          margin-left: $spacing-row-sm;
        }
      }
    }

    .images {
      display: flex;
      padding: 30rpx 0;
      image {
        flex-shrink: 0;
        width: 150rpx;
        height: 112.5rpx;
      }
    }

    .info {
      display: flex;
      align-items: center;
      margin-bottom: 30rpx;

      .left {
        flex: 1;
        display: flex;
        flex-direction: column;
        font-size: $font-size-base;
        color: $text-color-grey;
      }

      .right {
        font-size: $font-size-lg;
        color: $text-color-base;
      }
    }

    .action {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      button {
        margin-left: 30rpx;
        font-size: $font-size-sm;
      }
    }
  }
}
.current-wrapper {
  width: 100%;
  height: 100%;
  padding-top: 0rpx;
}
</style>
