<template>
  <view
    class="container"
    v-if="product"
  >
    <image
      :src="product.coupon.face.url"
      class="w-100"
      mode="widthFix"
    ></image>
    <view class="header">
      <view class="title">{{ product.coupon.name }}</view>
      <!-- <view class="subtitle">
        <view class="score">{{ product.score }}</view>
        <view>积分</view>
      </view> -->
    </view>
    <view class="content">
      <list-cell
        :padding="padding"
        :hover="false"
        last
      >
        <view class="row">
          <view class="label">商品类型</view>
          <view class="text">{{ product.coupon.type === 0 ?'代金券':'' }}</view>
        </view>
      </list-cell>
      <list-cell
        :padding="padding"
        :hover="false"
        last
      >
        <view class="row">
          <view class="label">有效期至</view>
          <view class="text"> {{ product.invalid_at }} </view>
        </view>
      </list-cell>
      <list-cell
        :padding="padding"
        :hover="false"
        last
      >
        <view class="row">
          <view class="label">卡券面额</view>
          <view class="text">{{ product.coupon.price }}</view>
        </view>
      </list-cell>
      <list-cell
        :padding="padding"
        :hover="false"
        v-if="product.coupon.use_type===0"
        last
      >
        <view class="row">
          <view class="label">卡卷门槛</view>
          <view class="text">无门槛</view>
        </view>
      </list-cell>
      <list-cell
        v-if="product.coupon.use_type===1"
        :padding="padding"
        :hover="false"
        last
      >
        <view class="row">
          <view class="label">可用分类</view>
          <view class="text"> {{ product.coupon.cates.join(',') }} </view>
        </view>
      </list-cell>
      <list-cell
        v-if="product.coupon.use_type===2"
        :padding="padding"
        :hover="false"
        last
      >
        <view class="row">
          <view class="label">可用商品</view>
          <view class="text">{{ product.coupon.commodity_list.join(',') }}</view>
        </view>
      </list-cell>
      <!-- <list-cell
        :padding="padding"
        :hover="false"
        last
      >
        <view class="row">
          <view class="label">可用场景</view>
          <view class="text">仅限在奉茶NOW小程序下单时，选择“外卖配送”后可用</view>
        </view>
      </list-cell> -->
      <!-- <list-cell
        :padding="padding"
        :hover="false"
        last
      >
        <view class="row">
          <view class="label">礼券说明</view>
          <view class="text">{{ product.coupon.description }}</view>
        </view>
      </list-cell> -->
      <list-cell
        :padding="padding"
        :hover="false"
        last
      >
        <view class="row">
          <view class="label">礼券介绍</view>
          <view class="text">{{ product.coupon.description }}</view>
        </view>
      </list-cell>
    </view>

    <view
      @tap="jumpToIndex"
      class="bottom"
    >去使用</view>
  </view>
</template>

<script>
import { Network } from '../../common/network'
import listCell from '../../components/list-cell/list-cell.vue'

export default {
  components: {
    listCell,
  },
  data() {
    return {
      product: null,
      padding: '20rpx',
    }
  },
  async onLoad({ id = 0 }) {
    //测试
    // this.product = await this.$api('productDetail')
    const { data } = await Network.getCouponDetail({ user_coupon_id: id })
    if (data.code === 200) {
      this.product = data.data
    }
  },
  methods: {
    jumpToIndex() {
      if (this.product.is_valid) {
        uni.switchTab({
          url: '/pages/index/index',
        })
      } else {
        uni.showToast({
          title: '该券已失效',
          icon: 'none',
        })
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.container {
  height: auto;
  background-color: #ffffff;
}

.header {
  padding: 20rpx 30rpx;
  display: flex;
  flex-direction: column;
  border-bottom: 1rpx solid rgba($color: $border-color, $alpha: 0.3);

  .title {
    font-size: $font-size-lg;
    margin-bottom: 10rpx;
  }
  .subtitle {
    display: flex;
    align-items: baseline;
    font-size: $font-size-sm;
    color: $text-color-assist;
    .score {
      font-size: $font-size-lg;
      color: $color-primary;
      margin-right: 20rpx;
    }
  }
}

.content {
  padding-bottom: 100rpx;

  .row {
    display: flex;
    align-items: baseline;

    .label {
      width: 120rpx;
      font-size: $font-size-medium;
      margin-right: 20rpx;
    }

    .text {
      flex: 1;
      font-size: $font-size-sm;
      color: $text-color-assist;
    }
  }
}

.bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100rpx;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $font-size-lg;
  color: $bg-color-white;
  background-color: $color-primary;

  &.disabled {
    background-color: #e9d5bb;
  }
}
</style>
